.media-img {
    max-height: 500px;
    max-width: 500px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    margin: 0 10px 10px 10px;
}

.media-image-wraper {
    max-height: 500px;
    max-width: 500px;
    text-align: center
}
.media {
    display: flex;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start
}

.media-body {
    -webkit-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}
.price {
    color: green
}
@media(max-width: 1023.98px) {
    .media {
        flex-direction: column
    }
    .media-img {
        max-width: 300px;
    }
    .media-img-wrapper {
        width: 100%;
        height: auto;
    }

}
