@using BlazorEcommerce.Client.Services.Business.Interfaces

@inject ICategoryManagerClient CategoryManagerClient

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">My Shop</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>*@
        <li class="nav-item dropdown px-3">
            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="oi oi-excerpt" aria-hidden="true"></span>Categories
            </a>
            <div class="dropdown-menu bg-dark">
                @foreach (var category in CategoryManagerClient.Categories)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@($"/categoryId/{category.Id.ToString()}")">
                            <span class="fas fa-angles-right px-3" aria-hidden="true"></span>   @category.Name
                        </NavLink>
                    </div>
                }
            </div>
        </li>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync() => await CategoryManagerClient.GetCategoriesAsync();

}
