
.media-img {
    max-height: 200px;
    max-width: 200px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 10px;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
    -webkit-transition: transform .2s;
    transition: transform .2s;
}

.media-img:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.media {
    display: flex;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start
}

.media-body {
    -webkit-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

.media-image-wraper {
    width: 200px;
    text-align: center
}

.price {
    color: green
}

@media (max-width: 1023.98px) {
    .media {
        flex-direction: column
    }
    .media-image-wraper {
        width: 100%;
        height: auto;
    }
}