@inject IProductManager ProductManager

@if (ProductManager.Products is null || ProductManager.Products.Count == 0)
{
    <div class="row">
        <div class="spinner-grow mx-auto" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <ul class="list-unstyled">
        @foreach (var product in ProductManager.Products)
        {
            <li class="media my3">
                <div class="media-image-wraper mr-3">
                    <a href="#">
                        <img class="media-img" src="@product.ImageUrl" alt="@product.Title" />
                    </a>
                </div>
                <div class="media-body">
                    <a href="#">
                        <h4 class="mb-0">@product.Title</h4>
                        <p>@product.Description</p>
                        <h5 class="price">
                            $@product.Price
                        </h5>
                    </a>
                </div>
            </li>
        }
    </ul>
}



@code {


    protected override async Task OnInitializedAsync()
    {
        await ProductManager.GetProducts();
    }

}