<ul class = "list-unstyled">
    @foreach (var product in Products)
    {
        <li class="media my3">
            <div class="media-image-wraper mr-3">
                <a href="#">
                    <img class="media-img" src="@product.ImageUrl" alt="@product.Title"/>
                </a>
            </div>
            <div class="media-body">
                <a href="#">
                    <h4 class="mb-0">@product.Title</h4>
                    <p>@product.Description</p>
                    <h5 class="price">
                        $@product.Price
                    </h5>
                </a>
            </div>
        </li>
    }
</ul>



@code {
    private static List<Product> Products = new List<Product>
    {
        new Product()
        {
            Id = 1,
            Title = "Book of the Dead ",
            Description = "Weighing of the heart scene with en:Ammit sitting from the book of the dead of Hunefer. From the source: \"The judgement, from the papyrus of the scribe Hunefer. 19th Dynasty. Hunefer is conducted to the balance by jackal-headed Anubis. The monster Ammut crouches beneath the balance so as to swallow the heart should a life of wickedness be indicated. EA9901.",
            ImageUrl = "https://upload.wikimedia.org/wikipedia/commons/d/d7/BD_Hunefer.jpg",
            Price = 9.99m
        },
        new Product()
        {
            Id = 2,
            Title = "Self made picture of ancient Egyptian god Anubis",
            Description = "No machine-readable author provided. Ningyou assumed (based on copyright claims).",
            ImageUrl = "https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Anubis_standing.jpg/296px-Anubis_standing.jpg?20060103235027",
            Price = 13.99m
        },
        new Product()
        {
            Id = 3,
            Title = "Dios",
            Description = "Bi ha quí define a Teolochía como a sciencia que tracta de Dios, anque no s'alazeta en os metodos scientificos y no puede estar considerada como tal."+
                          "As personas que negan a existencia de dioses se claman ateas. A disaparición d'a certitut d'a existencia de Dios ye comentata por autors como Nietzsche. ",
            ImageUrl = "https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Pietro_Perugino_024.jpg/1920px-Pietro_Perugino_024.jpg",
            Price = 20m
        }
    };
}
